@font-face {
    font-family: Foco_Blk;
    src: url(fonts/Foco/Foco_Blk.ttf);
}
@font-face {
    font-family: Tex;
    src: url(fonts/Texgyread/texgyreadventor-bold.otf);
}
*,
*::before,
*::after
{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: #f8f8f8;
    font-family: Tex;
}

.background-img-top{
    width: 100%;
}
.btn-center{
    text-align:center;
}
.intro-2{
    height: 39rem;
}
ol,
ul {
    list-style: none;
} 
.link-style {
    color: black;
    text-decoration: none;

}
.response > p {
    font-size: 2rem;
    margin-top: 2em;
    align-content: center;
}
.btn-group{
        margin-left: 40%;

}
.navbar-header-log {
    background: blue;
    height: 3rem;
}
.navbar-header-log>.nav-brand {
    color: white;
    margin: 17px 1rem;
}
/* label{
    font-size: 3rem;
}
.size-input{
     font-size: 3rem;
} */
.nav > li > a {
    font-size: 1rem;
} 
/*
*********************** HEADER *******************
 */


header {
    height: 100%;
    background-image: linear-gradient(to right bottom, #130cb7, #0062ed, #0093ee, #00bdd1, #00e1b5);
}

.logo {
    float: left;
    width: 230px;
    height: 70px;

    background: #36a3ff;
    color: #FFF;

    line-height: 70px;
    text-align: center;
}

.header-content {
    overflow: hidden;

    height: 70px;
    line-height: 70px;
}

.logo i {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
}

.logo p {
    display: inline-block;
    font-size: 24px;
    font-family: Open sans;
    font-weight: 300;
    vertical-align: top;
}

.logo p strong {
    font-family: Open sans;
    font-weight: 400;
}

.header_navCollapse {
    display: inline-block;
    vertical-align: top;
    color: #FFF;
    width: 100%;
}

.br-content {
    margin-left: 20px;
}

.header_navCollapse span {
    display: inline-block;
}

.header_navCollapse .home {
    font-family: Open Sans;
    font-weight: 600;
}









.navSide {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 30px;
    width: 230px;
    background: #272930;
    height: 93%;
}

.navSide .menu a i,
.navSide .submenu a i {
    font-size: 16px;
}

/*mofif*/
.navSide .menu a,
.navSide .submenu a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    font-size: 22px;
    margin-top: 35px
}


.navSide .menu a:hover,
.navSide .submenu a:hover {
    background: #2a2c34;
    border-right: 3px solid #2494f2;
}

.submenu .right {
    float: right;
    padding-right: 15px;
}

.sub-content {
    background: #1a1c20;
}

.submenu .sub-content a {
    border: inherit;
    height: 30px;
    line-height: 30px;
}

.submenu .sub-content a:hover {
    border: inherit;
}



.login-popup-btn {
    background: #258b47;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: Tex;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 150px;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}

a {
    font-size: 18px;
}




@media (max-width: 350px) {
    .icard:link,
    .icard-header:active,
    .icard:visited {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .icard:link,
    .icard-header:active,
    .icard:visited {
        width: 100%;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eeeeee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }


    .img-style {
        display: flex;
        width: 300px;

    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


.panel-green {
    border-color: #5cb85c;
}

.panel-green>.panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}

.panel-green>a {
    color: #5cb85c;
}

.panel-green>a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red>.panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}

.panel-red>a {
    color: #d9534f;
}

.panel-red>a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow>.panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}

.panel-yellow>a {
    color: #f0ad4e;
}

.panel-yellow>a:hover {
    color: #df8a13;
}

.u-margin-top-h2{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size:35px;
}
.navbar-brand{
    font-family: Foco_Blk;
}
.img-style{
    display: flex;
    width: 300px;

}
.brand-size{
    font-size: 30px;
}
.stepByStep{
    height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;

}
.icard {
  height: 180pt;
  width: 350pt;
  display: inline-block;
  border-radius: 10pt;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
.icard:link, .icard-header:active, .icard:visited {
  color: #fff;
  text-decoration: none;
}
.icard:hover {
  transform: scale(1.03);
}
.icard:active {
  transform: scale(0.99);
  opacity: 0.7;
}
.icard-icon {
  width: 70pt;
  margin-left: 25pt;
  margin-top: 35pt;
  opacity: 0.5;
}
.icard-header,
.icard-header-img {
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
  margin-left: 25pt;
  margin-top: 15pt;
}
.icard-img{
    background: url("assets/img/kyle-head-364351-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.icard-header > a, 
.icard-header-img > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;

}
.blue {
    background-image: linear-gradient( 135deg, #78BAFF, #2E6BC3);
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color: white;
}



.intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
}

.intro a {
    color: #ddd
}

.intro a:hover {
    text-decoration: underline
}


.form-heading { 
    color:#fff; 
    font-size:23px;
}
.panel h2{ 
    color:#444444; 
    font-size:18px; 
    margin:0 0 8px 0;}
.panel p { color:#777777; 
    font-size:14px; 
    margin-bottom:30px; 
    line-height:24px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 4rem auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}
.navbar-login{
       background:blue;
       padding: .5rem 0 !important;
       margin-bottom: 10px;
       box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15) !important;
}
.navbar-login > .navbar-brand{
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ 
    text-align:center;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.forgot {
  text-align: left; 
  margin-bottom:30px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}