@font-face {
  font-family: Foco_Blk;
  src: url(fonts/Foco/Foco_Blk.ttf);
}
@font-face {
  font-family: Tex;
  src: url(fonts/Texgyread/texgyreadventor-bold.otf);
}
*,
*::before,
*::after
{
    box-sizing: border-box;
}

@keyframes scaleUp {
    0% {
        transform: scale(1.2) translateY(50px);
        opacity: 0;
    }

    20% {
        transform: scale(1.15) translateY(40px);
        opacity: 0.1;
    }

    40% {
        transform: scale(1.1) translateY(30px);
        opacity: 0.2;
    }

    60% {
        transform: scale(1.05) translateY(20px);
        opacity: 0.4;
    }

    80% {
        transform: scale(1.01) translateY(10px);
        opacity: 0.8;
    }

    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

    20% {
        transform: scale(1.01) translateY(20px);
        opacity: 0.8;
    }

    40% {
        transform: scale(1.05) translateY(40px);
        opacity: 0.4;
    }

    60% {
        transform: scale(1.1) translateY(60px);
        opacity: 0.2;
    }

    80% {
        transform: scale(1.15) translateY(80px);
        opacity: 0.1;
    }

    100% {
        transform: scale(1.2) translateY(100px);
        opacity: 0;
    }
}

@keyframes scaleCard {
    0% {
        top: 5px;
    }

    100% {
        top: 24px;
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    100% {
        transform: translateX(0);
    }
}
.background-img-top{
    width: 100%;
}
.btn-center{
    text-align:center;
}


body {
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: #f8f8f8;
    font-family: Tex;
    


}

ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}



.link-style {
    color: black;
    text-decoration: none;
}

/*
*********************** HEADER *******************
 */

header {
    height: 70px;
    background-image: linear-gradient(to right bottom, #130cb7, #0062ed, #0093ee, #00bdd1, #00e1b5);
}

.logo {
    float: left;
    width: 230px;
    height: 70px;

    background: #36a3ff;
    color: #FFF;

    line-height: 70px;
    text-align: center;
}

.header-content {
    overflow: hidden;

    height: 70px;
    line-height: 70px;
}

.logo i {
    display: inline-block;
    font-size: 30px;
    vertical-align: top;
}

.logo p {
    display: inline-block;
    font-size: 24px;
    font-family: Open sans;
    font-weight: 300;
    vertical-align: top;
}

.logo p strong {
    font-family: Open sans;
    font-weight: 400;
}

.header_navCollapse {
    display: inline-block;
    vertical-align: top;
    color: #FFF;
    width: 100%;
}

.br-content {
    margin-left: 20px;
}

.header_navCollapse span {
    display: inline-block;
}

.header_navCollapse .home {
    font-family: Open Sans;
    font-weight: 600;
}







.account {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    float: right;
}



.account i {
    display: inline-block;
    vertical-align: middle;
    margin-left: -10%;
    color: black;

}



/*
****************** NAVIGATION *************************
 */

.navSide {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 30px;
    width: 230px;
    background: #272930;
    height: 93%;
}

.navSide .menu a i,
.navSide .submenu a i {
    font-size: 16px;
}

/*mofif*/
.navSide .menu a,
.navSide .submenu a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    font-size: 22px;
    margin-top: 35px
}

/*.nav .menu-text{
    position:absolute;
    top:0;
    right:0;
    left:0;
    height:40px;
    line-height:40px;
    padding-left:50px;
}*/
/*fin moddif*/
.navSide .menu a:hover,
.navSide .submenu a:hover {
    background: #2a2c34;
    border-right: 3px solid #2494f2;
}

.submenu .right {
    float: right;
    padding-right: 15px;
}

.sub-content {
    background: #1a1c20;
}

.submenu .sub-content a {
    border: inherit;
    height: 30px;
    line-height: 30px;
}

.submenu .sub-content a:hover {
    border: inherit;
}

/*
*************** FOOTER *******************
 */


.hide {
    display: none;
}

.show {
    display: block;
}




.content {
    position: absolute;
    top: 70px;
    right: 0;
    left: 230px;
    padding: 30px;
    z-index: 1;
    bottom: 30px;
    overflow: auto;
}

.content p {
    margin: 30px 0;
}
.typeSelection{
    float:right;
}
.stepByStep{
    display: flex;
    
}
.login-popup-heading>h4 {
    color: #258b47;
    font-size: 18px;
    line-height: 30px;
}

.new_reg_popup,
.new_login_popup {
    border-radius: 2px;
    min-height: 332px;
    width: 500px;
    margin: 0px auto;
}

.login-popup-btn {
    background: #258b47;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 150px;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
}

a {
    font-size: 18px;
}


#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
.icard {
  width: 100%;
}
}
@media (max-width: 400px) {
.icard {
  width: 100px;
}
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eeeeee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }


    .img-style {
        display: flex;
        width: 300px;

    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, 0.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green>.panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}

.panel-green>a {
    color: #5cb85c;
}

.panel-green>a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red>.panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}

.panel-red>a {
    color: #d9534f;
}

.panel-red>a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow>.panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}

.panel-yellow>a {
    color: #f0ad4e;
}

.panel-yellow>a:hover {
    color: #df8a13;
}

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline>li {
    position: relative;
    margin-bottom: 20px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline>li>.timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline>li>.timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline>li>.timeline-panel {
        width: calc(10%);
        width: -moz-calc(10%);
        width: -webkit-calc(10%);
    }

    ul.timeline>li>.timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline>li>.timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}
.u-margin-top-h2{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size:35px;
}
.navbar-brand{
    font-family: Foco_Blk;
}
.img-style{
    display: flex;
    width: 300px;

}
.brand-size{
    font-size: 30px;
}
.stepByStep{
    height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;

}
.icard {
  height: 180pt;
  width: 350pt;
  display: inline-block;
  border-radius: 10pt;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
.icard:link, .icard-header:active, .icard:visited {
  color: #fff;
  text-decoration: none;
}
.icard:hover {
  transform: scale(1.03);
}
.icard:active {
  transform: scale(0.99);
  opacity: 0.7;
}
.icard-icon {
  width: 70pt;
  margin-left: 25pt;
  margin-top: 35pt;
  opacity: 0.5;
}
.icard-header {
  font-weight: bold;
  font-size: 20pt;
  margin: 0;
  margin-left: 25pt;
  margin-top: 15pt;
}

/*
  Color variations
*/

.pink {
    background-image: linear-gradient( 135deg, #FE86C3, #B33675);
}
.green {
    background-image: linear-gradient( 135deg, #79D4B8, #459989);
}
.orange {
    background-image: linear-gradient( 135deg, #E47D57, #C93F1F);
}
.red {
    background-image: linear-gradient( 135deg, #E7414D, #B3252D);
}
.yellow {
    background-image: linear-gradient( 135deg, #E9BE40, #CD812E);
}
.purple {
    background-image: linear-gradient( 135deg, #8361F2, #4623B1);
}
.blue {
    background-image: linear-gradient( 135deg, #78BAFF, #2E6BC3);
}
.img-card {
    background:url("../img/kyle-head-364351-unsplash.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
}
.gray {
    background-image: linear-gradient( 135deg, #8D9196, #525458);
}

/* Survey */

.mm-survey {
    margin-top: 75px;
    margin-bottom: 50px;

}

.mm-survey-container {
    width: 100%;
    min-height: 600px;
    background: #fafafa;
}

.mm-survey-results-container {
    width: 100%;
    min-height: 600px;
    background: #fafafa;
}

.mm-survey-page {
    display: none;
    font-weight: 100;
    padding: 40px;
}

.mm-survey-page.active {
    display: block;
}

.mm-survey-controller {
    position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-survey-results-controller {
    position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-back-btn {
    display: inline-block;
    position: relative;
    float: left;
}

.mm-prev-btn {
    display: inline-block;
    position: relative;
    float: left;
}

.mm-next-btn {
    display: inline-block;
    opacity: 0.25;
    position: relative;
    float: right;
}

.mm-finish-btn {
    display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
    background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
    background: #fff;
    border: none;
    padding: 8px 18px;
    font-weight: 300;
}

.mm-survey-results-controller button {
    background: #fff;
    border: none;
    padding: 8px 18px;
}

.mm-survey-progress {
    width: 100%;
    height: 30px;
    background: #f5f5f5;
    overflow: hidden;
}

.mm-progress {
    transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
    height: 30px;
    width: 0%;
    background: linear-gradient(to right bottom, #130cb7, #0062ed, #0093ee, #00bdd1, #00e1b5);
}

.mm-survey-q {
    list-style-type: none;
    padding: 0px;
}

.mm-survey-q li {
    display: block;
    /*padding: 20px 0px;*/
    margin-bottom: 10px;
    width: 100%;
    background: #fff;
}

.mm-survey-q li input {
    width: 100%;
}

.mm-survery-content label {
    width: 100%;
    padding: 10px 10px;
    margin: 0px !important;
}

.mm-survery-content label:hover {
    cursor: pointer;
}

.mm-survey-question {
    min-height: 100px;
}

.mm-survey-question p {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;

}

.mm-survery-content label p {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
    
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: #292321;
    font-size: 16px;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"]+label span {
    background-color: #333;
}

input[type="radio"]:checked+label span {
    border: 2px solid #3DD2AF;
    background: transparent;
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.20s ease-in-out;
    -o-transition: background-color 0.20s ease-in-out;
    -moz-transition: background-color 0.20s ease-in-out;
    transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus,
.mm-next-btn button:focus,
.mm-finish-btn button:focus {
    outline: none;
    border: none;
}

.mm-survey.okay .mm-next-btn {
    display: inline-block;
    opacity: 1;
}

.mm-finish-btn.active {
    display: inline-block;
}

.mm-survey-results {
    display: none;
}

.mm-survey-results-score {
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -6px;
}

.mm-survey-results-list {
    list-style-type: none;
    padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
    color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
}

.mm-survey-results-item.correct {
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
    background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
    height: 40px;
    position: relative;
    padding: 17px;
    background: #333;
    color: #fff;
}

.mm-item-info {
    float: right;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color: white;
}

.card-results {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  border-radius:25px;
}

.card-results {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-results img {
    width:100%;
}
.card-results:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor:pointer;
}


.results{
    font-size: 25px;

}
.results-content{
    text-align: center;

}
.profile-card {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #130cb7, 0px 0px 0px 7px rgba(0, 38, 255, 0.6);
}

.blog-card {
    max-width: 550px;
    width: 100%;
    height: 500px;
    position: absolute;
    font-family: Tex, serif;
    color: #fff;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.4s;
    background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
    background-size: 100%;
}

.blog-card a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s
}

.blog-card .color-overlay {
    width: 550px;
    height: 500px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.blog-card .gradient-overlay {
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 550px;
    height: 500px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
}

.blog-card:hover {
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}

.blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
}

.blog-card:hover .color-overlay {
    background: rgba(64, 64, 70, 0.8);
}

.blog-card:hover .title-content {
    margin-top: 70px
}

.title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s
}

.blog-card:hover h3:after {

    animation: changeLetter 0.3s 1 linear;
    width: 80%
}

.blog-card h3,
h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display: inline-block;
}

.blog-card h3 a {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s
}

.blog-card h3 a:hover {
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}

h3:after {
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition: all 0.2s
}

@keyframes changeLetter {
    0% {
        width: 10%;
    }

    100% {
        width: 80%;
    }
}

.intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
}

.intro a {
    color: #ddd
}

.intro a:hover {
    text-decoration: underline
}

.card-info {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a {
    display: block;
    width: 100px;
    margin: 15px auto;
    background: #fff;
    color: #444;
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 0.8em
}

.card-info a:hover {
    background: #8e7c49;
    color: #fff;
}

.card-info a:hover span {
    filter: brightness(10);
    opacity: 1
}

.utility-info {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 20;
    width: 100%;
    text-align: left
}

.utility-info:after {
    content: " ";
    background: url(https://nodws.github.io/NodPen/postItem/crown.svg) center no-repeat;
    background-size: 30px auto;
    display: block;
    opacity: 0.4;
    position: absolute;
    bottom: 25px;
    right: 15px;
    width: 30px;
    height: 15px
}

.utility-info a:hover {
    text-decoration: underline
}

.utility-list {
    list-style-type: none;
    margin: 0 0 10px 20px;
    padding: 0;
    width: 100%;

}

.utility-list li {
    margin: 0 5px 0 0;
    padding: 3px 0 15px 0px;
    display: inline-block;

    font-size: 0.8em
}

.licon {
    position: relative;
    width: 23px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.licon:before {
    content: "";
    background: url(https://nodws.github.io/NodPen/postItem/licons.svg?) -2px -6px no-repeat;
    background-size: 250px;
    width: 26px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -3px;
    left: 0;
}

.icon-white {
    filter: brightness(10);
}

.icon-black {
    filter: brightness(0);
    opacity: 0.6
}

.icon-like:before {
    background-position: -183px -6px;

}

.icon-com:before {
    background-position: -63px -4px;

}

.icon-dat:before {
    background-position: -94px -7px;
}

.icon-tag:before {
    background-position: -33px -6px;

}

@media (max-width:750px) {
    .utility-info {
        text-align: center;
    }

    .utility-info ul {
        width: 100%;
        margin: 0;
        box-sizing: border-box
    }

    .utility-info li {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        margin: 0
    }
}

@media (max-width:500px) {
    .utility-info li:last-of-type {
        width: 100%
    }

    .card-info {
        display: none
    }

    .blog-card:hover .title-content,
    .title-content {
        margin-top: 40px
    }

    .blog-card {
        height: 300px
    }

    .blog-card h3 {
        font-size: 1.3em
    }

    .intro {
        font-size: 0.8em
    }
}


/*  ================  */

/* ignore this bit :P */
#profile-badges:after {
    content: "BRO";
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1px 4px 1px 4px;
    border-radius: 3px;
    position: relative;
    top: -2px;
    text-shadow: none !important;
    white-space: nowrap;
    letter-spacing: 0;
    background: #FFDD40;
}

.profile-header {
    background: #333 url(https://images.unsplash.com/photo-1435783099294-283725c37230?dpr=1&auto=compress,format&fit=crop&w=1376&h=635&q=80&cs=tinysrgb&crop=&bg=) top center no-repeat;
    background-size: cover;
    font-size: 3em;
    position: relative
}

.profile-header:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

#profile-links a {
    font-family: 'Abril Fatface', serif;
    font-size: 1.2em
}



#following-this-user {
    pointer-events: none
}

#follow-this-user {
    font-size: 1.2em;
    border-color: #359ef9
}

#follow-this-user:after {
    content: "\1f448"
}

.links-and-stats {
    background: rgb(20, 20, 21);
}

.profile-name h1 {
    text-shadow: 0 6px 9px rgba(0, 0, 0, 0.48)
}

.profile-avatar {
    bottom: -10px;
    width: 150px;
    height: 150px;
    border: 0px solid #1E1E1E;
    box-shadow: 0 19px 19px -10px rgba(0, 0, 0, 0.63)
}

.profile-username,
.upsell,
.profile-location,
.primary-pro {
    opacity: 0;
}

.upsell,
#pen-as-header-question {
    display: none
}

.profile-nav-1 a {
    font-size: 1.2rem;
}

.profile-bio,
.profile-nav-1 a.active,
.profile-nav-1 a:hover {
    color: rgba(20, 20, 21, 0.59) !important;
    font-size: 1.2rem
}

.meta .pen-title {
    font-family: 'Droid Serif', serif;
    text-align: center
}

.pagination-button {
    background-color: #2f2f31;
    border-color: #2f2f31;
    transition: all 0.2s
}

.pagination-button:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
}

.single-project .stats,
.single-pen .stats {
    text-align: center;
    width: 100%
}


